<div class="card mt-5" style="margin:auto;width: auto;">
  <div class="card-body">
    
      <div class="container-fluid">
        <div class="row">
      <div class="col-md-6">
        
          <img class="img-rounded" class="img-responsive" src="assets/virtusa.png" align="center" alt="Cinque Terre" style="margin:auto;width: 200px;">
          <hr>
        </div>  
      <div class="col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h3 class="card-title">Login</h3>
        <div class="form-group">
          <!--label for="InputEmail1">Username</label-->
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Enter Username">
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
        </div>
        <div class="form-group">
          <!--label for="exampleInputPassword1">Password</label-->
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter Password"> 
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        
    
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
</div>
</div>
  </div>
</div>